node_modules
.expo
dist
web-build
npm-debug.log
yarn-error.log

android/.gradle
android/build
android/app/build

ios/Pods
ios/build

*.keystore
*.jks
.env
android_backup
android_backup/**
android/.gradle
android/build
android/app/build
.expo
node_modules

